<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="/static/css/icon.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <!-- <script src="/static/js/vue.js"></script> -->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <nav class="">
        <div class="nav-wrapper container ">
          <a href="#" class="brand-logo right">UI XRAY</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <!-- <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li> -->
          </ul>
        </div>
      </nav>
      
      

        <div class="row" >
          
          <div  style="padding-top: 15px; display: flex ; justify-content: space-around ">
            <div class="col s2">
                <img class="materialboxed" src="/static/imgs/mora/spec.jpg" alt="" height="200px" >
                Diferencia Total
              </div>
            <div class="col s2">
                <img class="materialboxed" src="/static/imgs/mora/impl.jpg" alt="" height="200px" >
                Diferencia Total
              </div>
              
              <div class="col s2">
                <img class="materialboxed" src="/static/imgs/mora/diferencia_gris.jpg" alt="" height="200px" >
                Blend Escala De Grises
              </div>

              <div class="col s2">
                <img class="materialboxed" src="/static/imgs/mora/blend.jpg" alt="" height="200px" >
               Image Blended
              </div>
            
              <div class="col s2">
                  <img class="materialboxed" src="/static/imgs/mora/spec_cajas.jpg" alt="" height="200px" >
                  Cajas Especificación
                </div>
                
              <div class="col s2">
                  <img class="materialboxed" src="/static/imgs/mora/impl_cajas.jpg" alt="" height="200px" >
                  Cajas Implementación
              </div>
       
              
          </div>
        </div>
        
      <div class="row">
        <div class="col s1"></div>
        <div class="col s3">
          <table class="highlight">
            <thead>
              <tr>
                <th>Impl id</th>
                <th>Spec id</th>
                
                          <th>Foto</th> 
                          
                        </tr>
                      </thead>
                      
                      <tbody>
                        
                        {% for key,caja in objetos.items() %}
                        <tr onclick="document.getElementById('f').src='http://localhost:5000/view/{{key}}'" >
                        <td >{{key}}</td>
                        <td >{{caja[1]}}</td>
                        
                        <td> <img src="static/imgs/mora/impl{{key}}.jpg" alt="" width="50px"></td>
                        
                        
                      </tr>
                      
                    {% endfor %} 
                  </tbody>
                </table>
              </div>
              
              <div class="col s8 ">
                <iframe id="f" src="http://localhost:5000/view/1" frameborder="0" scrolling="yes" width="100%" height="500px" ></iframe>
              </div>
            </div>
            
            
            <style>
      tbody {
          display:block;
          height:500px;
          overflow:auto;
        }
              
        thead, tbody tr {
          display:table;
          width:100%;
          table-layout:fixed;
        }
        thead {
          width: calc( 100% - 1em )
        }
        table {
          width:100%;
        }
    </style>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/static/js/materialize.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, {});
        });

    </script>
  </body>
</html>